## Windows
Thumbs.db

# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

## Run directories
/run
/Forge/run
/Fabric/run

# idea
Forge/out
Forge/*.ipr
Forge/*.iws
Forge/*.iml
Forge/.idea

Fabric/out
Fabric/*.ipr
Fabric/*.iws
Fabric/*.iml
Fabric/.idea

# gradle
build
Forge/build
Fabric/build

.gradle
Forge/build
Fabric/build

# other
eclipse
Forge/eclipse
Fabric/eclipse

run

saves
Forge/saves
Fabric/saves

screenshots
Forge/screenshots
Fabric/screenshots

logs
Forge/logs
Fabric/logs

crash-reports
Forge/crash-reports
Fabric/crash-reports

usercache.json
Forge/usercache.json
Fabric/usercache.json

usernamecache.json
Forge/usernamecache.json
Fabric/usernamecache.json

options.txt
Forge/options.txt
Fabric/options.txt

mods
Forge/mods
Fabric/mods

journeymap
Forge/journeymap
Fabric/journeymap

realms_persistence.json
Forge/realms_persistence.json
Fabric/realms_persistence.json

doc
Forge/doc
Fabric/doc
