## Windows
Thumbs.db

# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

## Run directories
/run
/Forge/run
/Fabric/run
/NeoForge/run

# idea
.idea

Forge/out
Forge/*.ipr
Forge/*.iws
Forge/*.iml
Forge/.idea

Fabric/out
Fabric/*.ipr
Fabric/*.iws
Fabric/*.iml
Fabric/.idea

NeoForge/out
NeoForge/*.ipr
NeoForge/*.iws
NeoForge/*.iml
NeoForge/.idea

# gradle
build
Forge/build
Fabric/build
NeoForge/build

wrapper
Forge/wrapper
Fabric/wrapper
NeoForge/wrapper

caches
Forge/caches
Fabric/caches
NeoForge/caches

daemon
Forge/daemon
Fabric/daemon
NeoForge/daemon

native
Forge/native
Fabric/native
NeoForge/native

notifications
Forge/notifications
Fabric/notifications
NeoForge/notifications

.gradle
Forge/gradle
Fabric/gradle
NeoForge/gradle

# other
eclipse
Forge/eclipse
Fabric/eclipse
eclipse/eclipse

run

saves
Forge/saves
Fabric/saves
NeoForge/saves

screenshots
Forge/screenshots
Fabric/screenshots
NeoForge/screenshots

logs
Forge/logs
Fabric/logs
NeoForge/logs

crash-reports
Forge/crash-reports
Fabric/crash-reports
NeoForge/crash-reports

usercache.json
Forge/usercache.json
Fabric/usercache.json
NeoForge/usercache.json

usernamecache.json
Forge/usernamecache.json
Fabric/usernamecache.json
NeoForge/usernamecache.json

options.txt
Forge/options.txt
Fabric/options.txt
NeoForge/options.txt

mods
Forge/mods
Fabric/mods
NeoForge/mods

journeymap
Forge/journeymap
Fabric/journeymap
NeoForge/journeymap

realms_persistence.json
Forge/realms_persistence.json
Fabric/realms_persistence.json
NeoForge/realms_persistence.json

doc
Forge/doc
Fabric/doc
NeoForge/doc
